.theme-btn {
    background-color: var(--theme-page-background);
    cursor: pointer;
    margin-bottom: 8px;

    &:focus {
        outline: 0;
    }

    .ant-switch-handle::before {
        background-color: var(--theme-primary);
    }
}
