.container {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;

    .text-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 30px;
    }

}
