$colorbgWhite: white;
$colorLightGrey: #e1e1e1;
$colorbgLight: rgb(62, 204, 181);
$colorbgNormal: rgb(81, 167, 170);
$colorbgDark: rgb(41, 136, 121);
$colorbgBlack: rgb(26, 99, 88);
$colorbgCard: #24afa8;
$colorbgPurple: #301461;
$colorbgDarkPurple: #0e0327;
$colorbgLightPurple: #ba7dff;

$placeHolderColor:rgb(129, 127, 127);

$colorTextNormal: rgb(48, 53, 50);
$colorTextLight: rgb(71, 71, 71);
$colorTextLighter: rgb(91, 91, 91);
$colorTextDark: rgb(27, 27, 27);

$colorPrimaryLight: rgb(0, 110, 255);
$colorPrimary: rgb(56, 155, 236);

$colorWhite: white;
$colorOff: rgb(228, 228, 228);
$colorOffWhite: rgb(202, 195, 195);

$fontTextSmall: 10px;
$fontTextRegular: 12px;
$fontTextMedium: 14px;
$fontTextLarge: 16px;

