.light {
   /*
    --theme-purple: #5865E0;
    --theme-background: #F5F6F8;
    --theme-white: #FFF;
    */
    --theme-color: #A80000;
    --theme-page-background: #F5F6F8;
    --theme-card-background: #FFFFFF;
    --theme-page-text: #111;
    --theme-primary: #5865E0;
    --theme-white: #FFF;
    --theme-grey: #808080;
}

.dark {
   /*
    --theme-purple: #5865E0;
    --theme-background: #131822;
    --theme-light-blue: #19212D;
    */
    --theme-white: #FFF;
    --theme-grey: #808080;
    --theme-card-background: #19212D;
    --theme-primary: #5865E0;
    --theme-color: #0000A8;
    --theme-page-background: #131822;
    --theme-page-text: #FFF;
}

