.content-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 5%;
    height: 100%;

    .loading {
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            color: var(--theme-page-text)
        }
    }

    .no-records {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        h1 {
            color: var(--theme-page-text)
        }
        .ant-empty-description {
            color: var(--theme-page-text)
        }
    }

    .filter {
        flex-shrink: 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        overflow-y: auto;
        padding: 0 10%;


        .test {
            display: flex;
            flex-direction: column;
            height: 60vh;
            overflow: auto;
        }

        .ant-card {
            margin: 30px;
            min-height: 250px;
            width: 320px;
            border-radius: 8px;
            border: none;
            background-color: var(--theme-card-background);

            .bot-level {
                // color: #C0C0C0 !important;
                color: var(--theme-primary) !important;
                font-weight: bold;
            }

            .top-level, .ant-card-meta-description {
                margin-top: 20px;
                color: #808080 !important;
            }

            .ant-card-meta-title {
                color: var(--theme-page-text);
            }

            .image {
                position: absolute;
                top: -30px;
                background-color: var(--theme-white);
                border-radius: 10px;
                padding: 4px;

                img{
                    height: 60px;
                    width: 60px;
                    object-fit: contain;
                    color: var(--theme-page-text);
                }

                .ant-skeleton-image {
                    height: 60px;
                    width: 60px;
                }
            }

        }
    }

}

@media all and (min-width: 480px) and (max-width: 768px) {

.content-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 5%;
    height: 100%;

    .loading {
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            color: var(--theme-page-text)
        }
    }

    .filter {
        flex-shrink: 0;
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
        overflow-y: auto;
        padding: 0 2%;
        margin-top: 40px;


        .test {
            display: flex;
            flex-direction: column;
            height: 60vh;
            overflow: auto;
        }

        .ant-card {
            margin: 30px;
            min-height: 250px;
            width: 320px;
            border-radius: 8px;
            border: none;
            background-color: var(--theme-card-background);

            .bot-level {
                // color: #C0C0C0 !important;
                color: var(--theme-primary) !important;
                font-weight: bold;
            }

            .top-level, .ant-card-meta-description {
                margin-top: 20px;
                color: #808080 !important;
            }

            .ant-card-meta-title {
                color: var(--theme-page-text);
            }

            .image {
                position: absolute;
                top: -30px;
                background-color: var(--theme-white);
                border-radius: 10px;
                padding: 4px;

                img{
                    height: 60px;
                    width: 60px;
                    object-fit: contain;
                    color: var(--theme-page-text);
                }

                .ant-skeleton-image {
                    height: 60px;
                    width: 60px;
                }
            }

        }
    }

}


}


@media all and (max-width: 480px) {
.content-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 5%;
    height: 100%;

    .loading {
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            color: var(--theme-page-text)
        }
    }

    .filter {
        flex-shrink: 0;
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
        overflow-y: auto;
        padding: 0 2%;
        margin-top: 40px;


        .test {
            display: flex;
            flex-direction: column;
            height: 60vh;
            overflow: auto;
        }

        .ant-card {
            margin: 30px;
            min-height: 250px;
            width: 320px;
            border-radius: 8px;
            border: none;
            background-color: var(--theme-card-background);

            .bot-level {
                // color: #C0C0C0 !important;
                color: var(--theme-primary) !important;
                font-weight: bold;
            }

            .top-level, .ant-card-meta-description {
                margin-top: 20px;
                color: #808080 !important;
            }

            .ant-card-meta-title {
                color: var(--theme-page-text);
            }

            .image {
                position: absolute;
                top: -30px;
                background-color: var(--theme-white);
                border-radius: 10px;
                padding: 4px;

                img{
                    height: 60px;
                    width: 60px;
                    object-fit: contain;
                    color: var(--theme-page-text);
                }

                .ant-skeleton-image {
                    height: 60px;
                    width: 60px;
                }
            }

        }
    }

}
}
