.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--theme-card-background);
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 8vh;
    border-radius: 10px;

    .form-group {
        padding: 10px;

        i {
            padding-right: 10px;
            padding-top: 4px;
            color: var(--theme-primary)
        }

        input {
            border: none;
            background-color: var(--theme-card-background);
            width: 100%;
        }
        input:focus{
            outline: none;
        }
    }

    .filter-1, .filter-2 {
        display: flex;
        border-right: 1px solid #C0C0C0;
        flex-basis: 40%;
    }

    .filter-3 {
        flex-basis: 20%;
        .form-check {
            display: flex;
        }
        input {
            width: 20%;
            margin-top: 4px;
            cursor: pointer;
        }
        label {
            font-weight: bold;
            cursor: pointer;
        }


    }

}

@media all and (min-width: 480px) and (max-width: 768px) {
.form-row {
    display: flex;
    justify-content: left !important;
    padding: 10px;
    background-color: var(--theme-card-background);
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 7vh;

    .form-group {
        padding: 10px;

        i {
            padding-right: 10px;
            padding-top: 4px;
            color: var(--theme-primary)
        }

        input {
            border: none;
            background-color: var(--theme-card-background);
            width: 100%;
        }
        input:focus{
            outline: none;
        }
    }

    .filter-2, .filter-3 {
        display: none;
    }

    .filter-1 {
        flex-basis: 100%;
    }


    .filter-1, .filter-2 {
        border-right: none;
    }

}
}

@media all and (max-width: 480px) {
.form-row {
    display: flex;
    justify-content: left !important;
    padding: 10px;
    background-color: var(--theme-card-background);
    position: absolute;
    top: 15%;
    height: 7vh;

    .form-group {
        padding: 10px;

        i {
            padding-right: 10px;
            padding-top: 4px;
            color: var(--theme-primary)
        }

        input {
            border: none;
            background-color: var(--theme-card-background);
            width: 100%;
        }
        input:focus{
            outline: none;
        }
    }

    .filter-2, .filter-3 {
        display: none;
    }

    .filter-1 {
        flex-basis: 100%;
    }


    .filter-1, .filter-2 {
        border-right: none;
    }

}
}
