.description {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    margin-top: -40px;

    color: var(--theme-page-text);

    .top {
        display: flex;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20px;
        flex-shrink: 0;
        background-color: var(--theme-card-background);
        border-radius: 10px;

        .logo {
            flex-basis: 10%;

            img {
                padding: 14px;
                height: 200px;
                width: 200px;
                object-fit: contain;
            }

            .ant-skeleton-image {
                height: 200px;
                width: 200px;
            }

        }

        .info {
            display: flex;
            align-items: flex-start;
            margin: auto;
            flex-direction: column;
            padding: 40px;
            flex-basis: 60%;

            span {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 10px
            }
            label {
            }
        }

        .link-btn {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: auto;
            flex-basis: 20%;
            padding: 40px;

            button {
                padding: 12px;
                background-color: #F5F6F8;
                border: none;
                cursor: pointer;
                color: var(--theme-primary);
                font-weight: bold;
                border-radius: 8px;
                width: 200px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
            }

            button:focus{
                outline: none;
            }

            button:hover {
                box-shadow: 1px rgba(25, 33, 45, 1);
                transform: translateY(-2px);
            }
        }

    }

    .des-body {

        flex-grow: 1;
        overflow-y: auto;
        padding:  0 19.2% 0 20%;
        border-radius: 10px;

        .mid {
            background-color: var(--theme-card-background);
            display: flex;
            padding: 40px;

            .mid-right {
                display: flex;
                flex-basis: 15%;

                .apply-btn {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    margin: auto;

                    button {
                        padding: 12px;
                        background-color: var(--theme-primary);
                        border: none;
                        cursor: pointer;
                        color: var(--theme-white);
                        font-weight: bold;
                        width: 200px;
                        border-radius: 8px;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease 0s;
                        cursor: pointer;
                    }

                    button:focus{
                        outline: none;
                    }

                    button:hover {
                        box-shadow: 0px 2px 4px rgba(255,255,255,0.1);
                        color: #fff;
                        transform: translateY(-2px);
                    }
                }
            }

            .mid-left {
                display: flex;
                flex-basis: 85%;
                flex-direction: column;

                label {
                    font-size: 25px;
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                .time {
                    font-size: 18px;
                    color: var(--theme-grey);
                    margin-bottom: 8px;
                }

                .location {
                    font-size: 18px;
                    color: var(--theme-primary);
                    font-weight: bold;
                }
            }
        }

        .para {
            background-color: var(--theme-card-background);
            padding: 40px;
            p {
                word-break: break-all;
            }
        }

        .bot {
            background-color: var(--theme-card-background);
            display: flex;
            flex-direction: column;
            background-color: var(--theme-primary);
            color: var(--theme-white);
            padding: 40px;
            word-break: break-all;

            span {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }

        .proxy-1 {
            background-color: var(--theme-page-background);
            height: 20vh;
            width: 100%;
        }
        .proxy-2 {
            background-color: var(--theme-page-background);
            height: 10vh;
            width: 100%;
        }

        .footer {
            background-color: var(--theme-card-background);
            display: flex;
            padding: 40px;

            .info {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex-basis: 80%;

                span {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px
                }
                label {
                }
            }

            .apply-btn {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin: auto;

                button {
                    padding: 12px;
                    background-color: var(--theme-primary);
                    border: none;
                    cursor: pointer;
                    color: var(--theme-white);
                    font-weight: bold;
                    width: 200px;
                    border-radius: 8px;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                }

                button:focus{
                    outline: none;
                }

                button:hover {
                    box-shadow: 0px 2px 4px rgba(255,255,255,0.1);
                    color: #fff;
                    transform: translateY(-2px);
                }
            }

        }
    }

}

@media all and (min-width: 480px) and (max-width: 768px) {

.description {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    margin-top: -40px;

    color: var(--theme-page-text);

    .top {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        flex-shrink: 0;
        background-color: var(--theme-card-background);
        border-radius: 10px;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 10%;

            img {
                position: absolute;
                height: 80px;
                width: 80px;
                object-fit: contain;
            }
            .ant-skeleton {
                border-radius: 5px;
                background-color: var(--theme-white);
                position: absolute;
                .ant-skeleton-image {
                    height: 60px;
                    width: 60px;
                }
            }

        }

        .info {
            display: flex;
            align-items: flex-start;
            margin: auto;
            flex-direction: column;
            padding: 30px 0 0 0;
            flex-basis: 60%;

            span {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 10px
            }
            label {
            }
        }

        .link-btn {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: auto;
            flex-basis: 20%;
            padding: 10px 0 30px 0;

            button {
                padding: 12px;
                background-color: #F5F6F8;
                border: none;
                cursor: pointer;
                color: var(--theme-primary);
                font-weight: bold;
                border-radius: 8px;
                width: 200px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
            }

            button:focus{
                outline: none;
            }

            button:hover {
                box-shadow: 1px rgba(25, 33, 45, 1);
                transform: translateY(-2px);
            }
        }

    }

    .des-body {

        flex-grow: 1;
        overflow-y: auto;
        padding:  0 8% 0 10%;
        border-radius: 10px;

        .mid {
            display: flex;
            flex-direction: column;
            padding: 40px;
            background-color: var(--theme-card-background);

            .mid-right {
                display: flex;
                width: 100%;
                margin-top: 20px;

                .apply-btn {
                    flex-basis: 100%;

                    button {
                        padding: 12px;
                        background-color: var(--theme-primary);
                        border: none;
                        cursor: pointer;
                        color: var(--theme-white);
                        font-weight: bold;
                        width: 200px;
                        border-radius: 8px;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease 0s;
                        cursor: pointer;
                    }

                    button:focus{
                        outline: none;
                    }

                    button:hover {
                        box-shadow: 0px 2px 4px rgba(255,255,255,0.1);
                        color: #fff;
                        transform: translateY(-2px);
                    }
                }
            }

            .mid-left {
                display: flex;
                flex-basis: 85%;
                flex-direction: column;

                label {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                .time {
                    width: 100%;
                    font-size: 15px;
                    color: var(--theme-grey);
                    margin-bottom: 8px;
                }

                .location {
                    font-size: 15px;
                    color: var(--theme-primary);
                    font-weight: bold;
                }
            }
        }

        .para {
            background-color: var(--theme-card-background);
            padding: 40px;
            p {
                word-break: break-all;
            }
        }

        .bot {
            background-color: var(--theme-card-background);
            display: flex;
            flex-direction: column;
            background-color: var(--theme-primary);
            color: var(--theme-white);
            padding: 40px;
            word-break: break-all;

            span {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }

        .proxy-1 {
            background-color: var(--theme-page-background);
            height: 20vh;
            width: 100%;
        }
        .proxy-2 {
            background-color: var(--theme-page-background);
            height: 5vh;
            width: 100%;
        }

        .footer {
            background-color: var(--theme-card-background);
            display: flex;
            flex-direction: column;
            padding: 40px;

            .info {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex-basis: 80%;

                span {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px
                }
                label {
                }
            }

            .apply-btn {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin: auto;

                button {
                    padding: 12px;
                    background-color: var(--theme-primary);
                    border: none;
                    cursor: pointer;
                    color: var(--theme-white);
                    font-weight: bold;
                    width: 200px;
                    border-radius: 8px;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                }

                button:focus{
                    outline: none;
                }

                button:hover {
                    box-shadow: 0px 2px 4px rgba(255,255,255,0.1);
                    color: #fff;
                    transform: translateY(-2px);
                }
            }

        }
    }

}

}

@media all and (max-width: 480px) {

.description {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    margin-top: -40px;

    color: var(--theme-page-text);

    .top {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 40px;
        flex-shrink: 0;
        background-color: var(--theme-card-background);
        border-radius: 10px;
        top: 16%;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 10%;

            img {
                position: absolute;
                height: 80px;
                width: 80px;
                object-fit: contain;
            }
            .ant-skeleton {
                background-color: var(--theme-white);
                border-radius: 5px;
                position: absolute;
                .ant-skeleton-image {
                    height: 60px;
                    width: 60px;
                }
            }

        }

        .info {
            display: flex;
            align-items: flex-start;
            margin: auto;
            flex-direction: column;
            padding: 30px 0 0 0;
            flex-basis: 60%;

            span {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 10px
            }
            label {
            }
        }

        .link-btn {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: auto;
            flex-basis: 20%;
            padding: 10px 0 30px 0;

            button {
                padding: 12px;
                background-color: #F5F6F8;
                border: none;
                cursor: pointer;
                color: var(--theme-primary);
                font-weight: bold;
                border-radius: 8px;
                width: 200px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
            }

            button:focus{
                outline: none;
            }

            button:hover {
                box-shadow: 1px rgba(25, 33, 45, 1);
                transform: translateY(-2px);
            }
        }

    }

    .des-body {

        flex-grow: 1;
        overflow-y: auto;
        padding:  0 8% 0 10%;
        border-radius: 10px;

        .mid {
            display: flex;
            flex-direction: column;
            padding: 40px;
            background-color: var(--theme-card-background);

            .mid-right {
                display: flex;
                width: 100%;
                margin-top: 20px;

                .apply-btn {
                    flex-basis: 100%;

                    button {
                        padding: 12px;
                        background-color: var(--theme-primary);
                        border: none;
                        cursor: pointer;
                        color: var(--theme-white);
                        font-weight: bold;
                        width: 200px;
                        border-radius: 8px;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease 0s;
                        cursor: pointer;
                    }

                    button:focus{
                        outline: none;
                    }

                    button:hover {
                        box-shadow: 0px 2px 4px rgba(255,255,255,0.1);
                        color: #fff;
                        transform: translateY(-2px);
                    }
                }
            }

            .mid-left {
                display: flex;
                flex-basis: 85%;
                flex-direction: column;

                label {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                .time {
                    width: 100%;
                    font-size: 15px;
                    color: var(--theme-grey);
                    margin-bottom: 8px;
                }

                .location {
                    font-size: 15px;
                    color: var(--theme-primary);
                    font-weight: bold;
                }
            }
        }

        .para {
            background-color: var(--theme-card-background);
            padding: 40px;
            p {
                word-break: break-all;
            }
        }

        .bot {
            background-color: var(--theme-card-background);
            display: flex;
            flex-direction: column;
            background-color: var(--theme-primary);
            color: var(--theme-white);
            padding: 40px;
            word-break: break-all;

            span {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }

        .proxy-1 {
            background-color: var(--theme-page-background);
            height: 20vh;
            width: 100%;
        }
        .proxy-2 {
            background-color: var(--theme-page-background);
            height: 5vh;
            width: 100%;
        }

        .footer {
            background-color: var(--theme-card-background);
            display: flex;
            flex-direction: column;
            padding: 40px;

            .info {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex-basis: 80%;

                span {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px
                }
                label {
                }
            }

            .apply-btn {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin-top: 40px;


                button {
                    padding: 12px;
                    background-color: var(--theme-primary);
                    border: none;
                    cursor: pointer;
                    color: var(--theme-white);
                    font-weight: bold;
                    width: 200px;
                    border-radius: 8px;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                }

                button:focus{
                    outline: none;
                }

                button:hover {
                    box-shadow: 0px 2px 4px rgba(255,255,255,0.1);
                    color: #fff;
                    transform: translateY(-2px);
                }
            }

        }
    }

}

}
