@import "./styles/standard.scss";

.App {
    display: flex;
    flex-direction: column;
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;


    .header {
        height: 15vh;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 0 0 0 60px;
        background: var(--theme-primary);
        color: var(--theme-white);

        .title {
            font-size: 40px;
            font-weight: bold;
            text-decoration: none;

            &:visited {
                color: var(--theme-white);
            }

        }

        .theme {
            i {
                font-size: 20px;
                padding: 8px;
                margin: 0 auto;
            }
            .fa-moon {
                color: #19212D;
            }
        }
    }

}

@media all and (min-width: 480px) and (max-width: 768px) {
.App {
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    font-family: 'Montserrat', sans-serif;


    .header {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 0;
        background: var(--theme-primary);
        color: var(--theme-white);

        .title {
            font-size: 40px;
            font-weight: bold;
            text-decoration: none;

            &:visited {
                color: var(--theme-white);
            }

        }

        .theme {
            i {
                font-size: 20px;
                padding: 8px;
                margin: 0 auto;
            }
            .fa-moon {
                color: #19212D;
            }
        }
    }

}


}


@media all and (max-width: 480px) {
.App {
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    font-family: 'Montserrat', sans-serif;


    .header {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 0;
        background: var(--theme-primary);
        color: var(--theme-white);

        .title {
            font-size: 40px;
            font-weight: bold;
            text-decoration: none;

            &:visited {
                color: var(--theme-white);
            }


        }

        .theme {
            i {
                font-size: 20px;
                padding: 8px;
                margin: 0 auto;
            }
            .fa-moon {
                color: #19212D;
            }
        }
    }

}
}
